.article {
  background-color: #0e90cf;
  text-align: center;
  padding: 50px 170px;
}
.article p {
  padding: 50px;
}
@media (max-width: 800px) {
  .article {
    padding: 25px 90px;
    height: 50%;
  }
}

.article-valeur {
  background-color: #fac92c;
}
