button {
  background: #ffffff;
  border-radius: 37px;
  font-family: "Coolvetica", sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #000000;
  letter-spacing: 1.16px;
  text-align: center;
  margin: auto;
  display: flex;
}

button p {
  padding: 11px 45px;
  text-align: center;
}

.article-button-container {
  background-color: #f49aae;
  height: 158px;
}
.article-button-container-2 {
  background-color: #0e90cf;
  height: 158px;
}
.article-button {
  padding: 30px, 10px;
  align-content: center;
}
