footer {
  background-image: url("../img/footer.webp");
  background-size: cover;
  height: 702px;
  width: 100%;
}

h5 {
  font-family: "Coolvetica", sans-serif;
  font-size: 30px;
  color: #000000;
  letter-spacing: 2px;
  font-weight: bold;
}
@media (max-width: 800px) {
  h5 {
    font-size: 15px;
  }
}

footer a {
  font-size: 23px;
  color: #000000;
}
@media (max-width: 800px) {
  footer a {
    font-size: 12px;
  }
}
.footer-center {
  padding-top: 20%;
}
// .line {
//   border-left: 4px solid rgb(0, 0, 0);
//   height: 250px;
//   position: absolute;
//   left: 45%;
//   margin-left: -3px;
//   bottom: -325%;
// }
// @media (max-width: 800px) {
//   .line {
//     bottom: -240%;
//     left: 50%;
//   }
// }
