nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 0px;
}
@media (max-width: 800px) {
  .nav-grand {
    display: none;
  }
}

a {
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  letter-spacing: 0.97px;
  text-align: center;
  flex-shrink: 0;
}
.nav-logo {
  font-family: "Coolvetica", sans-serif;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 1.75px;
  font-weight: 400;
  margin-left: 20px;
}
