/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0.97px;
}
@media (max-width: 800px) {
  body {
    font-size: 14.5px;
  }
}

h1 {
  font-family: "Coolvetica", sans-serif;
  font-size: 130px;
  color: #ff6800;
  letter-spacing: 0;
  line-height: 124px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 62px;
    letter-spacing: 0;
    line-height: 75px;
  }
}

h2 {
  font-family: "Coolvetica", sans-serif;
  font-size: 75px;
  color: #ffffff;
  letter-spacing: 2.91px;
  text-align: center;
}
@media (max-width: 800px) {
  h2 {
    font-size: 35px;
  }
}
h3 {
  font-family: "Coolvetica", sans-serif;
  font-size: 175px;
  color: #000000;
  letter-spacing: 2px;
  font-weight: bold;
}
@media (max-width: 800px) {
  h3 {
    font-size: 70px;
  }
}
h4 {
  color: #000000;
  font-size: 30px;
}

p {
  text-align: left;
  font-size: 25px;
}
@media (max-width: 800px) {
  p {
    font-size: 14.5px;
  }
}
.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
