/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

body {
  font-family: "SF Pro Display", sans-serif;
  font-size: 25px;
  color: #ffffff;
  letter-spacing: 0.97px;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Coolvetica", sans-serif;
  font-size: 130px;
  color: #ff6800;
  letter-spacing: 0;
  line-height: 124px;
}

h2 {
  font-family: "Coolvetica", sans-serif;
  font-size: 75px;
  color: #ffffff;
  letter-spacing: 2.91px;
  text-align: center;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
