.l-square {
  position: relative;
}

.l-square::before {
  content: "";
  display: block;
  padding-top: 100%;
}
.l-square-insert {
  position: absolute;
  inset: 0;
  overflow: auto;
  scrollbar-width: thin;
}
@media (min-width: 800px) {
  .l-square::before {
    position: static;
  }
}
